header {
  background-color: #b4d2ff;
  box-shadow: 0 5px 7px rgba(161, 187, 227, 0.25);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1280px;
  margin: 0 auto;
  height: 100px;
}

#navbar > #logo_brand {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;

  font-family: "Concert One", sans-serif;
  font-size: 25px;
  color: #254f8e;
}

#navbar > #ul_list > ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

#navbar > #ul_list > ul > li > a {
  color: #254f8e;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
  font-weight: 500;
}

#navbar > #logo_brand > img {
  width: 75px;
  margin-left: 4.5rem;
}

#navbar > #ul_list > ul > li > a:hover {
  color: white;
  transition: color 0.3s;
}
